.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  position: absolute;
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 50%;
}
.outer-circle {
  width: 60vw;
  height: 60vw;
  background: grey;
  border: 0.5em solid black;
  border-radius: 50%;
}


@media (max-width: 600px) {

  .container {
    background-color: blue;
  }
  .inner-circle {
    background-color: pink;
  }
  .outer-circle {
    background-color: yellow;
  }

}
