@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html,
body {
}

/*FONTS*/

@font-face {
  font-family: Fivo-Regular;
  src: url('FivoSansModern-Regular.otf');
}

@font-face {
  font-family: Fivo-Medium;
  src: url('FivoSansModern-Medium.otf');
}

@font-face {
  font-family: Wremena-Bold;
  src: url('Wremena Bold.otf');
}

/* STRUCTURE */

.header {
  overflow: hidden;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 18px 25px;
}

.header-left {
  width: 100%;
}

.header-right {
  margin-right: -10px;
}

img.animated-gif{
  width: 7.5em;
  height: auto;
}

.logo {
  max-width: 12.5em;
}

.copy {
  font-size: 15px;
  font-family: Fivo-Regular;
  line-height: 1.5;
}

.heading {
  font-size: 15px;
  font-family: Fivo-Medium;
  line-height: 1.5;
}

.title {
  font-size: 22px;
  font-family: Wremena-Bold;
  margin-bottom: 20px;
  line-height: 1.3;
}

::-moz-selection { /* Code for Firefox */
  background: #DBF0E3;
}

::selection {
  background: #DBF0E3;
}

#container {
  background-color: #FFCDBB;
  height: 93vh;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
#inner-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DBF0E3;
  border-radius: 50%;
}

#outer-circle {
  border: 5px solid black;
  background-color: white;
  height: 560px;
  width: 560px;
  border-radius: 50%;
}

.bigCircle {
  border-radius: 50%;
  height: 550px;
  position: relative;
  width: 550px;
  top: 4px;
}

.bigCircle-content {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin: 5em;
  text-align: center;
}

@supports (shape-outside: circle(50%)) {
  .bigCircle-content {
    height: 100%;
    margin: 0;
    padding: 5px;
  }

  .bigCircle::before,
  .bigCircle-content::before {
    content: "";
    height: 100%;
    width: 50%;
  }

  .bigCircle::before {
    float: left;
    shape-outside: polygon(
      0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
      5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
    );
  }

  .bigCircle-content::before {
    float: right;
    shape-outside: polygon(
      100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
      95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
    );
  }
}

/* FOOTER */

.footer {
  overflow: hidden;
  /*background-color: #F7F7F7;*/
  width: 100%;
  height: 7vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 18px 25px;
}

.footerItem {
  font-family: Fivo-Regular;
  font-size: 1em;
  color: black;
}

.colloquio {
  margin-right: 10px;
}

.prenota {
  margin-left: 10px;
}

.social {
  margin-right: 10px;
}

.footerLeft {
  width: 100%;
}

.footerCenter {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  justify-content: center;
}

.footerRight {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration-line: line-through;
  text-decoration-color: #DBF0E3;
}

a:active {
  color: black;
  text-decoration: none;
}

/* MODAL BOX */

/* The Modal (background) */

#myBtn {
  font-size: 1em;
  font-family: Fivo-Regular;
  border: none;
  background-color: white;
  cursor: pointer;
}

#myModal {
  max-width: 50%;
  height: auto;
  background-color: transparent;
  border: none;
}

button:hover{
  text-decoration-line: line-through;
  text-decoration-color: #DBF0E3;
}

.copyModal {
  font-size: 0.9375em;
  font-family: Fivo-Regular;
  line-height: 1.5;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.modal {
  -ms-overflow-style: none;
}

/* Modal Content */
.modal-content {
  overflow: hidden;
  background-color: #fefefe;
  margin-left: 0;
  padding: 20px;
  /*border: 5px solid black;*/
  width: 50%;
  height: 100vh;
}

/* The Close Button */
.close {
  color: #DBF0E3;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.portrait {
  top: -5px;
}

.img {
  width: 100%;
  margin-top: -7px;
}

@media (max-width: 600px) {

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .copy {
    font-size: 0.6563em;
    line-height: 1.1;
    margin-top: -2px;
  }

  .copyModal {
    font-size: 0.875em;
    font-family: Fivo-Regular;
    line-height: 1.2;
  }

  .title {
    font-size: 0.8125em;
    line-height: 1.15;
    margin-top: -13px;
  }

  .fontawesome {
    margin-top: 5px;
  }


  .header {
   background-color:#FFCDBB;
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 30px 25px 25px 25px;
  }

  .header :nth-child(1) { order: 2; }
  .header :nth-child(2) { order: 1; }

  .header-left {
    display: flex;
    width: auto;
    align-items: center;
    margin: auto;
  }

  .header-right {
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin: auto;
  }

  .logo {
    margin-top: 15px;
    margin-left: 12px;
    max-width: 250px;
    height: auto;
  }

  img.animated-gif{
    max-width: 120px;
    height: auto;
  }

  .container {
    height: 100%;
}

    /* Hide scrollbar for Chrome, Safari and Opera */
  .container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  .container {
    -ms-overflow-style: none;
  }

  .sub-container{
    display: block;
    position: relative;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-top: -10px;

  }

  .uterus {
    display: block;
    width: auto;
    height: 22.5em;
    max-width: inherit;
    border: 5px solid black;
    overflow: hidden;
    margin-bottom: 50px;

  }

  .bigCircle {
    height: inherit;
    width: inherit;
    margin-left: 5px;
  }

  .bigCircle-content {
    height: inherit;
    width: inherit;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .footer {
    position: relative;
    display: block;
    overflow: scroll;
    flex-direction: column;
    height: auto;
    padding: 50px;
  }

  .footerLeft {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  #myBtn {
    font-size: 20px;
    font-family: Fivo-Medium;
  }

  .footerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .colloquio {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    font-family: Fivo-Medium;
    margin-right: 0px;
  }

  .prenota {
    font-size: 1.25em;
    font-family: Fivo-Medium;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

  .footerRight {
    display: flex;
    justify-content: center;
  }


  .fb {
    font-family: Fivo-Medium;
    font-size: 1.25em;
    margin-right: 30px;
  }

  .ig {
    font-family: Fivo-Medium;
    font-size: 1.25em;
  }

  .medium {
    font-family: Fivo-Medium;
    font-size: 1.25em;
    margin-left: 30px;
  }

  #myModal {
    max-width: 80%;
  }

  .modal-content {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .close {
    font-size: 2.5em;
    margin-top: -17px;
    margin-right: -5px;
}

  .img {
    margin-top: 7px;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #FFCDBB;
  }

  .circle {
    background-color: #DBF0E3;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration-line: line-through;
    text-decoration-color: #DBF0E3;
  }

  a:active {
    color: black;
    text-decoration: none;
  }

  button:hover{
    text-decoration-line: line-through;
    text-decoration-color: #DBF0E3;
  }

  .modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
  }

  .close {
    color: #DBF0E3;
  }

  .close:hover,
  .close:focus {
    color: #000;
  }

}
